<div class="container">
  <h1 class="text-center">Burgers!</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>Your Order:</h2>

      <ul class="list-group">
        {{#each burgers}}
          {{#unless this.devoured}}
            <li class="list-group-item">
              <form class="form-inline" action="/{{this.id}}?_method=PUT" method="POST">
                <label for="eat"><h4>{{this.id}}. {{this.burger_name}}</h4></label>
                <input type="hidden" name="eat" value="true">
                <button class="btn btn-primary btn-sm" type="submit">EAT!</button>
              </form>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Eaten!</h2>

      <ul class="list-group">
        {{#each burgers}}
          {{#if this.devoured}}
            <li class="list-group-item list-group-item-warning">
              <h4>{{this.id}}. {{this.burger_name}}</h4>

              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="eat" value="false">
                <button type="submit">UNEAT!</button>
              </form>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <form action="/" method="POST">
        <label for="name">Burger Name:</label>
        <div class="input-group">
          <input class="form-control" type="text" id="name" name="name">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Add Burger</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>